Slides/MonoJet
Slides/LAr
./*~
*.snm
*.aux
*.synctex.gz
*.out
*.nav
*.blg
*.log
*.toc
*.dvi
*.run.xml

./*/*/*.snm
./*/*/*.aux
./*/*/*.synctex.gz
./*/*/*.out
./*/*/*.nav
./*/*/*.blg
./*/*/*.log
./*/*/*.toc
./*/*/*.dvi
./*/*/*.run.xml
Slides/ChristmasMeeting/plots
Slides/ChristmasMeeting/Plots

Slides/Combination
